.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../imagens/wall.png");
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 90px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  border-bottom: 5px solid #ffd700;
}

.panel {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid #000000;
  background-color: #1aeaa5;
}

.enemy {
  background-image: url("../imagens/ralph.png");
  background-size: cover;
}

.menu-lives {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2) {
  margin-top: 1rem;
}

#restart-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-family: 'Press Start 2P';
    cursor: pointer;
    background-color: #ff0000;
    border: 2px solid #ffd700;
    color: #ffffff;

}